---
import Base from '../layout/Base.astro'
---

<Base title="Home">
  <h1>Hello There</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla quam odit impedit. Quos totam amet facilis nam tempore hic sequi quas nisi, fugiat qui itaque error accusantium cupiditate doloremque?</p>
</Base>